h1 {
   font-size: 2.4rem;
   font-weight: var(--fw-bold);
}

h2 {
   font-size: 2rem;
   font-weight: var(--fw-semi-bold);
   line-height: 2;
}

h3 {
   font-size: 1.8rem;
   font-weight: var(--fw-semi-bold);
   line-height: 1.6;
}

p {
   font-size: 1.6rem;
}

.carousel__heading {
   font-size: 4rem;
   font-weight: var(--fw-bold);
   color: var(--main-c);
}
