@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;700&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

.bot-sm {
   margin-bottom: 2rem;
}

.bot-med {
   margin-bottom: 4rem;
}

.bot-big {
   margin-bottom: 6rem;
}

.top-sm {
   margin-top: 2rem;
}

.top-med {
   margin-top: 4rem;
}

.top-big {
   margin-top: 6rem;
}

.text-center {
   text-align: center;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap;
   border: 0;
}

.fw-bold {
   font-weight: --fw-bold;
}

.box-padding {
   padding: 2rem;
}

.titlu-sectiune {
   margin: 10rem auto 3rem;
   text-align: center;

   @media (max-width: 50em) {
      margin: 3rem auto 1rem;
   }
}

//flow utility class--------------------------------------------------

:where(.flow :not(:first-child)) {
   --flow-spacer: 1rem;
   margin-top: var(--flow-spacer, 1rem);
}
// sau poti scrie si asa

// .flow * + * {

// }
